.container_questions {
    border: 2px solid black;
    width: 320px;
    display: grid;
    margin: auto;

}

.questions {
    text-align: center;
}

#container_answers {
    border: 2px solid black;
    width: 320px;
    border-collapse: collapse;
    display: grid;
    margin: auto;
}

.answers {
    border: 1px solid black;
}

#gatherInfo{
    border: 2px solid black;
    width:220px;
}

.inputs{
    box-sizing: border-box;
    width:100%;
}

#nextquestion{
    border: 1px solid black;
    width:150px;
    float: right;
    text-align: center;
    
}

#prevquestion{
    border: 1px solid black;
    width:150px;
    float: left;
    text-align: center;
}